.ContactAddress {
}
.ContactAddressList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ContactAddressListItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.ContactAddressIcon {
    background-color: var(--col-dark);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.ContactAddressIcon > .material-icons {
    display: block;
}