.Content {
    scroll-behavior: smooth;
    padding: 2em 1.2em;
    overflow-y: auto;
    height: calc(100vh - 56px);
    position: relative;
    z-index: 99;
}

@media screen and (min-width: 48em) {
    .Content {
        padding: 2em;
    }
}

.ContentSection {
    margin-bottom: 2em;
}

@media screen and (min-width: 48em) {
    .Content {
        height: 100vh;
    }
}
