.HomeHeader {
    height: calc(100vh - 2em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.AnimatedText {
    display: block;
}

@media screen and (min-width: 48em){
    .AnimatedText {
        display: inline;
    }
}

.ShadowBounce {
    display: inline-block;
    animation-name: shadow-bounce;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes shadow-bounce {
    0%{
        transform: translate3d(0,0,0);
        text-shadow: 0em 0em 0 var(--col-green);
        color: var(--col-dark);
    }
    30%{
        transform: translate3d(0,0,0);
        text-shadow: 0em 0em 0  var(--col-green);
        color: var(--col-dark);
    }
    70%{
        transform: translate3d(4px,-4px,0);
        text-shadow: -4px 4px  var(--col-green);
        color: var(--col-dark);
    }
    100%{
        transform: translate3d(1px,-1px,0);
        text-shadow: -1px 1px  var(--col-green);
        color: var(--col-dark);
    }
}

.float {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: float;
    display: block;
}

@keyframes float {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 0, -10px);
    }
    100% {
        transform: translate3d(0, 0, -1px);
    }

}


