.Navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--col-green);
    user-select: none;
    z-index: 99;
    padding-bottom: env(safe-area-inset-bottom);
}



.NavbarItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.NavbarItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--font-code);
    font-size: .9em;
    padding: .5em;
    flex-basis: 80px;
    flex-grow: 1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.NavbarItemActive {
    background-color: var(--col-green-shaded);
    color: white;
    font-weight: bold;
}

.NavbarItem:active {
    background-color: var(--col-green-shaded);
    color: white;
}

@media screen and (min-width: 48em) {
    .Navbar {
        left: 0;
        top: 0;
        width: 85px;
    }
    .NavbarItem {
        margin-bottom: .25em;
    }
    .NavbarItems {
        flex-direction: column;
    }
}

@media screen and (orientation: landscape){
    .Navbar {
        width: calc(85px + env(safe-area-inset-left));
        padding-left: env(safe-area-inset-left);
    }
}
