.Work {
}



@media screen and (min-width: 48em) {
    .WorkItems {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5em;
    }
}

@media screen and (min-width: 71em) {
    .WorkItems {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5em;
    }
}
