.WorkTags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.WorkTag {
    font-size: .75em;
    padding: .75em;
    background-color: var(--col-green);
    color: var(--col-dark);
    margin-right: .5em;
    margin-bottom: .5rem;
}
