.App {
  height: 100vh;
  width: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@media screen and (min-width: 48em) {
  .App {
    padding-left: 84px;    
  }
}

@media screen and (orientation: landscape){
  .App {
    padding-left: calc(85px + env(safe-area-inset-left));
  }
}
