:root {
  --font-code: 'Source Code Pro', monospace;
  --font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --font-headings: 'Dosis', sans-serif;
  --font-logo: rollerscript-smooth, sans-serif;
  --col-dark: #333;
  --col-green: #8be8ac;
  --col-green-tint: #97e5b3;
  --col-green-shaded: #73c28e;

  --box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

body {

}

html,
body {
  font-size: 100%;
  scroll-behavior: smooth;
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--col-dark);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------------------------------------------
 FONTS
------------------------------------------*/
p {
  margin-bottom: .5rem;
  line-height: 1.5;
}
h1, h2, h3, h4, h5 {
  margin: 2rem 0 1.38rem;
  font-family: var(--font-headings);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small {font-size: 0.8rem;}

.title {
  margin-bottom: 0;
}
.subtitle {
  margin-top: 0;
  font-family: var(--font-code);
}

.font-logo {
  font-family: var(--font-logo);
  font-weight: 400;
  font-style: normal;
}
.font-logo.title {
  font-size: 3.6em;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--col-green);
}

/*------------------------------------------
 UTILS
------------------------------------------*/
.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}

.mt-0{
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}

.mt-auto {
  margin-top: auto;
}

.line-h-1 {
  line-height: 1;
}

.col-green {
  color: var(--col-green);
}

.heading-with-icon {
  display: flex;
  align-items: center;
}

.section-icon {
  font-size: inherit;
}

.ani-del-100 { animation-delay: 100ms; }
.ani-del-200 { animation-delay: 200ms; }
.ani-del-300 { animation-delay: 300ms; }
.ani-del-400 { animation-delay: 400ms; }
.ani-del-500 { animation-delay: 500ms; }
.ani-del-600 { animation-delay: 600ms; }
.ani-del-700 { animation-delay: 700ms; }
.ani-del-800 { animation-delay: 800ms; }
.ani-del-900 { animation-delay: 900ms; }
